<p-toast />
<p-confirmdialog />
<p-table #tablaClientes [value]="clientes" stripedRows size="small" [globalFilterFields]="globalFilterFields"
    [tableStyle]="{ 'min-width': '50rem' }" [scrollable]="true" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 20, 30]">

    <ng-template #caption>
        <div class="flex justify-between">
            <p-button label="Agregar" [outlined]="true" icon="pi pi-user-plus" (onClick)="onAddClick()" />
            <div class="flex items-center gap-2">
                <p-button severity="secondary" label="Limpiar" [outlined]="true" icon="pi pi-filter-slash"
                    (click)="clear(tablaClientes, searchInput)" />
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input #searchInput pInputText type="text"
                        (input)="tablaClientes.filterGlobal(searchInput.value, 'contains')" placeholder="Buscar..." />
                </p-iconfield>
            </div>
        </div>
    </ng-template>

    <ng-template #header>
        <tr>
            <th class="whitespace-nowrap">Activo</th>
            <th class="whitespace-nowrap">Razón Social</th>
            <th class="whitespace-nowrap">RFC</th>
            <th class="whitespace-nowrap">Calle</th>
            <th class="whitespace-nowrap">N° Exterior</th>
            <th class="whitespace-nowrap">N° Interior</th>
            <th class="whitespace-nowrap">Colonia</th>
            <th class="whitespace-nowrap">Estado</th>
            <th class="whitespace-nowrap">Ciudad</th>
            <th class="whitespace-nowrap">Municipio</th>
            <th class="whitespace-nowrap">C.P.</th>
            <th class="whitespace-nowrap">Celular</th>
            <th class="whitespace-nowrap">Correo</th>
            <th pFrozenColumn alignFrozen="right"></th>
        </tr>
    </ng-template>

    <ng-template #body let-rowData>
        <tr>
            <td class="whitespace-nowrap">{{ rowData.isActiveClient }}</td>
            <td class="whitespace-nowrap">{{ rowData.name }}</td>
            <td class="whitespace-nowrap">{{ rowData.taxId }}</td>
            <td class="whitespace-nowrap">{{ rowData.street }}</td>
            <td class="whitespace-nowrap">{{ rowData.exteriorNumber }}</td>
            <td class="whitespace-nowrap">{{ rowData.interiorNumber }}</td>
            <td class="whitespace-nowrap">{{ rowData.neighborhood }}</td>
            <td class="whitespace-nowrap">{{ rowData.state }}</td>
            <td class="whitespace-nowrap">{{ rowData.city }}</td>
            <td class="whitespace-nowrap">{{ rowData.municipality }}</td>
            <td class="whitespace-nowrap">{{ rowData.postalCode }}</td>
            <td class="whitespace-nowrap">{{ rowData.phone }}</td>
            <td class="whitespace-nowrap">{{ rowData.email }}</td>
            <td class="whitespace-nowrap" pFrozenColumn alignFrozen="right">
                <p-button icon="pi pi-dollar" severity="success" class="mr-2" [rounded]="true" [outlined]="true"
                    (click)="addSaldo(rowData)" size="small" />
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true"
                    (click)="editClient(rowData)" size="small" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                    (click)="deleteProduct($event, rowData)" size="small" />
            </td>
        </tr>
    </ng-template>
</p-table>

<!-- EDIT CLIENT DIALOG -->
<p-dialog [(visible)]="editVisible" [modal]="true" header="Editar cliente"
    [style]="{ width: '900px', maxWidth: '95vw' }" [draggable]="false" [resizable]="false" (onHide)="cancelEdit()">

    <form #editForm="ngForm" (ngSubmit)="saveEdit(editForm)" [class.submitted]="editForm.submitted" class="mt-2">
        <div class="flex flex-wrap gap-6">
            <!-- Columna 1 -->
            <div class="flex-1 flex flex-col gap-3 min-w-[300px]">
                <p-floatlabel variant="on">
                    <input pInputText id="name" name="name" [(ngModel)]="editCliente.name" required
                        maxlength="300" autocomplete="off" class="w-full"
                        [ngClass]="{'p-invalid': editForm.submitted && editForm.controls['name'].invalid}" />
                    <label for="name">Nombre Fiscal <span class="text-red-500">*</span></label>
                </p-floatlabel>

                <p-floatlabel variant="on">
                    <input pInputText id="taxId" name="taxId" [(ngModel)]="editCliente.taxId" maxlength="300"
                        autocomplete="off" class="w-full" />
                    <label for="taxId">RFC</label>
                </p-floatlabel>

                <p-floatlabel variant="on">
                    <input pInputText id="street" name="street" [(ngModel)]="editCliente.street" required maxlength="300"
                        autocomplete="off" class="w-full"
                        [ngClass]="{'p-invalid': editForm.submitted && editForm.controls['street'].invalid}" />
                    <label for="street">Calle <span class="text-red-500">*</span></label>
                </p-floatlabel>

                <p-floatlabel variant="on">
                    <input pInputText id="exteriorNumber" name="exteriorNumber" [(ngModel)]="editCliente.exteriorNumber" required
                        maxlength="300" autocomplete="off" class="w-full"
                        [ngClass]="{'p-invalid': editForm.submitted && editForm.controls['exteriorNumber'].invalid}" />
                    <label for="exteriorNumber">N° Exterior <span class="text-red-500">*</span></label>
                </p-floatlabel>

                <p-floatlabel variant="on">
                    <input pInputText id="interiorNumber" name="interiorNumber" [(ngModel)]="editCliente.interiorNumber"
                        maxlength="300" autocomplete="off" class="w-full" />
                    <label for="interiorNumber">N° Interior</label>
                </p-floatlabel>

                <p-floatlabel variant="on">
                    <input pInputText id="neighborhood" name="neighborhood" [(ngModel)]="editCliente.neighborhood" required
                        maxlength="300" autocomplete="off" class="w-full"
                        [ngClass]="{'p-invalid': editForm.submitted && editForm.controls['neighborhood'].invalid}" />
                    <label for="neighborhood">Colonia <span class="text-red-500">*</span></label>
                </p-floatlabel>

                <p-floatlabel variant="on">
                    <p-select id="state" name="state" [(ngModel)]="editCliente.state" [options]="estados"
                        optionLabel="name" optionValue="name" class="w-full"
                        [ngClass]="{'p-invalid': editForm.submitted && !editCliente.state }"></p-select>
                    <label for="state">Estado <span class="text-red-500">*</span></label>
                    <input type="text" name="state_hidden" [(ngModel)]="editCliente.state" required hidden />
                </p-floatlabel>

                <p-floatlabel variant="on">
                    <p-select id="city" name="city" [(ngModel)]="editCliente.city" [options]="ciudades"
                        optionLabel="name" optionValue="name" class="w-full"
                        [ngClass]="{'p-invalid': editForm.submitted && !editCliente.city }"></p-select>
                    <label for="city">Ciudad <span class="text-red-500">*</span></label>
                    <input type="text" name="city_hidden" [(ngModel)]="editCliente.city" required hidden />
                </p-floatlabel>

                <p-floatlabel variant="on">
                    <input pInputText id="municipality" name="municipality" [(ngModel)]="editCliente.municipality"
                        maxlength="300" autocomplete="off" class="w-full" />
                    <label for="municipality">Municipio</label>
                </p-floatlabel>

                <p-floatlabel variant="on">
                    <p-inputnumber class="w-full" id="postalCode" name="postalCode" [(ngModel)]="editCliente.postalCode" [useGrouping]="false"
                        required [maxlength]="5" autocomplete="off"
                        [ngClass]="{'p-invalid': editForm.submitted && editForm.controls['postalCode'].invalid}" />
                    <label for="postalCode">Código Postal <span class="text-red-500">*</span></label>
                </p-floatlabel>

                <div class="flex items-center h-[2rem] gap-2 pl-1">
                    <p-checkbox inputId="hasPhoto" name="hasPhoto" binary="true"
                        [(ngModel)]="editCliente.hasPhoto"></p-checkbox>
                    <label for="hasPhoto">Foto forzosa</label>
                </div>

                <div class="flex items-center h-[2rem] gap-2 pl-1">
                    <p-checkbox inputId="isCommercial" name="isCommercial" binary="true"
                        [(ngModel)]="editCliente.isCommercial"></p-checkbox>
                    <label for="isCommercial">Cliente Comercial <span class="text-red-500">*</span></label>
                </div>
            </div>

            <!-- Columna 2 -->
            <div class="flex-1 flex flex-col gap-3 min-w-[300px]">
                <p-floatlabel variant="on">
                    <p-inputnumber class="w-full" id="phone" name="phone" [(ngModel)]="editCliente.phone"
                        [useGrouping]="false" required [maxlength]="10" autocomplete="off"
                        [ngClass]="{'p-invalid': editForm.submitted && editForm.controls['phone'].invalid}" />
                    <label for="phone">N° Teléfono Celular <span class="text-red-500">*</span></label>
                </p-floatlabel>

                <p-floatlabel variant="on">
                    <input pInputText id="email" name="email" [(ngModel)]="editCliente.email" required
                        maxlength="300" autocomplete="off" class="w-full"
                        [ngClass]="{'p-invalid': editForm.submitted && editForm.controls['email'].invalid}" />
                    <label for="email">Correo Electrónico <span class="text-red-500">*</span></label>
                </p-floatlabel>

                <p-floatlabel variant="on">
                    <p-inputnumber id="consignmentPriceICC" name="consignmentPriceICC" [(ngModel)]="editCliente.consignmentPriceICC"
                        required autocomplete="off" class="w-full" [maxFractionDigits]="4"
                        [ngClass]="{'p-invalid': editForm.submitted && editForm.controls['consignmentPriceICC'].invalid}" />
                    <label for="consignmentPriceICC">Precio consigna <span class="text-red-500">*</span></label>
                </p-floatlabel>

                <p-floatlabel variant="on">
                    <input pInputText id="latitude" name="latitude" [(ngModel)]="editCliente.latitude" autocomplete="off"
                        class="w-full" />
                    <label for="latitude">Latitud</label>
                </p-floatlabel>

                <p-floatlabel variant="on">
                    <input pInputText id="longitude" name="longitude" [(ngModel)]="editCliente.longitude"
                        autocomplete="off" class="w-full" />
                    <label for="longitude">Longitud</label>
                </p-floatlabel>

                <p-floatlabel variant="on">
                    <p-select id="zoneId" name="zoneId" [(ngModel)]="editCliente.zoneId" [options]="zonas"
                        optionLabel="name" optionValue="name" class="w-full"></p-select>
                    <label for="zoneId">Zona</label>
                </p-floatlabel>

                <p-floatlabel variant="on">
                    <input pInputText id="businessType" name="businessType" [(ngModel)]="editCliente.businessType" required maxlength="300"
                        autocomplete="off" class="w-full"
                        [ngClass]="{'p-invalid': editForm.submitted && editForm.controls['businessType'].invalid}" />
                    <label for="businessType">Giro <span class="text-red-500">*</span></label>
                </p-floatlabel>

                <p-floatlabel variant="on">
                    <p-select id="classification" name="classification" [(ngModel)]="editCliente.classification"
                        [options]="tipoClientes" optionLabel="name" optionValue="name" class="w-full"
                        [ngClass]="{'p-invalid': editForm.submitted && !editCliente.classification}"></p-select>
                    <label for="classification">Tipo cliente <span class="text-red-500">*</span></label>
                    <input type="text" name="classification_hidden" [(ngModel)]="editCliente.classification" required
                        hidden />
                </p-floatlabel>

                <p-floatlabel variant="on">
                    <textarea pInputTextarea id="reference" name="reference" [(ngModel)]="editCliente.reference"
                        rows="3" cols="30" class="w-full resize-none h-[7rem]"></textarea>
                    <label for="reference">Referencia</label>
                </p-floatlabel>
            </div>
        </div>

        <div class="mt-4 flex justify-end gap-2">
            <button pButton type="button" label="Cancelar" class="p-button-outlined" (click)="cancelEdit()"></button>
            <button pButton type="submit" label="Guardar"></button>
        </div>
    </form>
</p-dialog>
<p-dialog [(visible)]="saldoVisible" [modal]="true" header="Agregar Saldo"
    [style]="{ width: '500px', maxWidth: '95vw' }" [draggable]="false" [resizable]="false" (onHide)="cancelSaldo()">
    <form #saldoForm="ngForm" (ngSubmit)="confirmSaldo(saldoForm)" [class.submitted]="saldoForm.submitted"
        class="mt-2 flex flex-col gap-3">

        <!-- Saldo -->
        <p-floatlabel variant="on">
            <p-inputnumber class="w-full" id="saldo" name="saldo" [(ngModel)]="saldoValue" mode="decimal" prefix="$ "
                locale="es-MX" required
                [ngClass]="{'p-invalid': saldoForm.submitted && saldoForm.controls['saldo'].invalid}">
            </p-inputnumber>
            <label for="saldo">Saldo <span class="text-red-500">*</span></label>
        </p-floatlabel>
        @if (saldoForm.submitted && saldoForm.controls['saldo'].invalid) {
        <small class="text-red-500 mt-[-10px]">
            Campo requerido
        </small>
        }

        <p-floatlabel variant="on">
            <p-inputnumber class="w-full" id="porcentaje" name="porcentaje" [(ngModel)]="porcentajeValue" [min]="0"
                [max]="100" suffix="%" required
                [ngClass]="{'p-invalid': saldoForm.submitted && saldoForm.controls['porcentaje'].invalid}">
            </p-inputnumber>
            <label for="porcentaje">Porcentaje <span class="text-red-500">*</span></label>
        </p-floatlabel>
        @if (saldoForm.submitted && saldoForm.controls['porcentaje'].invalid) {
        <small class="text-red-500 mt-[-10px]">
            Campo requerido
        </small>
        }

        <div class="mt-4 flex justify-end gap-2">
            <button pButton type="button" label="Cancelar" class="p-button-outlined" (click)="cancelSaldo()"></button>
            <button pButton type="submit" label="Confirmar"></button>
        </div>
    </form>
</p-dialog>