<form #clienteForm="ngForm" (ngSubmit)="onRegisterClick(clienteForm)" [class.submitted]="clienteForm.submitted">

    <div class="flex flex-wrap gap-6">
        <!-- Columna 1 -->
        <div class="flex-1 flex flex-col gap-3 min-w-[300px]">
            <p-floatlabel variant="on">
                <input pInputText id="nombre" name="nombre" [(ngModel)]="newCliente.nombre" required maxlength="300"
                    autocomplete="off" class="w-full"
                    [ngClass]="{'p-invalid': clienteForm.submitted && clienteForm.controls['nombre'].invalid}" />
                <label for="nombre">Nombre Fiscal <span class="text-red-500">*</span></label>
            </p-floatlabel>

            <p-floatlabel variant="on">
                <input pInputText id="rfc" name="rfc" [(ngModel)]="newCliente.rfc" maxlength="300" autocomplete="off"
                    class="w-full" />
                <label for="rfc">RFC</label>
            </p-floatlabel>

            <p-floatlabel variant="on">
                <input pInputText id="calle" name="calle" [(ngModel)]="newCliente.calle" required maxlength="300"
                    autocomplete="off" class="w-full"
                    [ngClass]="{'p-invalid': clienteForm.submitted && clienteForm.controls['calle'].invalid}" />
                <label for="calle">Calle <span class="text-red-500">*</span></label>
            </p-floatlabel>

            <p-floatlabel variant="on">
                <input pInputText id="numexterior" name="numexterior" [(ngModel)]="newCliente.numexterior" required
                    maxlength="300" autocomplete="off" class="w-full"
                    [ngClass]="{'p-invalid': clienteForm.submitted && clienteForm.controls['numexterior'].invalid}" />
                <label for="numexterior">N° Exterior <span class="text-red-500">*</span></label>
            </p-floatlabel>

            <p-floatlabel variant="on">
                <input pInputText id="numinterior" name="numinterior" [(ngModel)]="newCliente.numinterior"
                    maxlength="300" autocomplete="off" class="w-full" />
                <label for="numinterior">N° Interior</label>
            </p-floatlabel>

            <p-floatlabel variant="on">
                <input pInputText id="colonia" name="colonia" [(ngModel)]="newCliente.colonia" required maxlength="300"
                    autocomplete="off" class="w-full"
                    [ngClass]="{'p-invalid': clienteForm.submitted && clienteForm.controls['colonia'].invalid}" />
                <label for="colonia">Colonia <span class="text-red-500">*</span></label>
            </p-floatlabel>

            <p-floatlabel variant="on">
                <p-select id="estado" name="estado" [(ngModel)]="newCliente.estado" [options]="estados"
                    optionLabel="name" optionValue="name" class="w-full"
                    [ngClass]="{'p-invalid': clienteForm.submitted && !newCliente.estado}"></p-select>
                <label for="estado">Estado <span class="text-red-500">*</span></label>
                <!-- hidden required so Angular validates -->
                <input type="text" name="estado_hidden" [(ngModel)]="newCliente.estado" required hidden />
            </p-floatlabel>

            <p-floatlabel variant="on">
                <p-select id="ciudad" name="ciudad" [(ngModel)]="newCliente.ciudad" [options]="ciudades"
                    optionLabel="name" optionValue="name" class="w-full"
                    [ngClass]="{'p-invalid': clienteForm.submitted && !newCliente.ciudad}"></p-select>
                <label for="ciudad">Ciudad <span class="text-red-500">*</span></label>
                <input type="text" name="ciudad_hidden" [(ngModel)]="newCliente.ciudad" required hidden />
            </p-floatlabel>

            <p-floatlabel variant="on">
                <input pInputText id="municipio" name="municipio" [(ngModel)]="newCliente.municipio" maxlength="300"
                    autocomplete="off" class="w-full" />
                <label for="municipio">Municipio</label>
            </p-floatlabel>

            <p-floatlabel variant="on">
                <input pInputText id="cp" name="cp" [(ngModel)]="newCliente.cp" required maxlength="300"
                    autocomplete="off" class="w-full"
                    [ngClass]="{'p-invalid': clienteForm.submitted && clienteForm.controls['cp'].invalid}" />
                <label for="cp">Código Postal <span class="text-red-500">*</span></label>
            </p-floatlabel>

            <p-floatlabel variant="on">
                <input pInputText id="telefono" name="telefono" [(ngModel)]="newCliente.telefono" required
                    maxlength="10" autocomplete="off" class="w-full"
                    [ngClass]="{'p-invalid': clienteForm.submitted && clienteForm.controls['telefono'].invalid}" />
                <label for="telefono">N° Teléfono Celular <span class="text-red-500">*</span></label>
            </p-floatlabel>

            <div class="flex items-center h-[2rem] gap-2 pl-1">
                <p-checkbox inputId="isfoto" name="isfoto" binary="true"
                    [(ngModel)]="newCliente.isfoto"></p-checkbox>
                <label for="isfoto">Foto forzosa</label>
            </div>

            <div class="flex items-center h-[2rem] gap-2 pl-1">
                <p-checkbox inputId="iscomercial" name="iscomercial" binary="true" 
                [(ngModel)]="newCliente.iscomercial"></p-checkbox>
                <label for="iscomercial">Cliente Comercial <span class="text-red-500">*</span></label>
            </div>
        </div>

        <!-- Columna 2 -->
        <div class="flex-1 flex flex-col gap-3 min-w-[300px]">
            <p-floatlabel variant="on">
                <input pInputText id="telefonofijo" name="telefonofijo" [(ngModel)]="newCliente.telefonofijo" required
                    maxlength="10" autocomplete="off" class="w-full"
                    [ngClass]="{'p-invalid': clienteForm.submitted && clienteForm.controls['telefonofijo'].invalid}" />
                <label for="telefonofijo">N° Teléfono Fijo <span class="text-red-500">*</span></label>
            </p-floatlabel>

            <p-floatlabel variant="on">
                <input pInputText id="correo" name="correo" [(ngModel)]="newCliente.correo" required maxlength="300"
                    autocomplete="off" class="w-full"
                    [ngClass]="{'p-invalid': clienteForm.submitted && clienteForm.controls['correo'].invalid}" />
                <label for="correo">Correo Electrónico <span class="text-red-500">*</span></label>
            </p-floatlabel>

            <p-floatlabel variant="on">
                <input pInputText id="facebook" name="facebook" [(ngModel)]="newCliente.facebook" maxlength="300"
                    autocomplete="off" class="w-full" />
                <label for="facebook">Facebook</label>
            </p-floatlabel>

            <p-floatlabel variant="on">
                <input pInputText id="precioconsigna" name="precioconsigna" [(ngModel)]="newCliente.precioconsigna"
                    required autocomplete="off" class="w-full"
                    [ngClass]="{'p-invalid': clienteForm.submitted && clienteForm.controls['precioconsigna'].invalid}" />
                <label for="precioconsigna">Precio consigna <span class="text-red-500">*</span></label>
            </p-floatlabel>

            <p-floatlabel variant="on">
                <input pInputText id="latitud" name="latitud" [(ngModel)]="newCliente.latitud" autocomplete="off"
                    class="w-full" />
                <label for="latitud">Latitud</label>
            </p-floatlabel>

            <p-floatlabel variant="on">
                <input pInputText id="longitud" name="longitud" [(ngModel)]="newCliente.longitud" autocomplete="off"
                    class="w-full" />
                <label for="longitud">Longitud</label>
            </p-floatlabel>

            <p-floatlabel variant="on">
                <p-select id="idzona" name="idzona" [(ngModel)]="newCliente.idzona" [options]="zonas" optionLabel="name"
                    optionValue="name" class="w-full"></p-select>
                <label for="idzona">Zona</label>
            </p-floatlabel>

            <p-floatlabel variant="on">
                <input pInputText id="giro" name="giro" [(ngModel)]="newCliente.giro" required maxlength="300"
                    autocomplete="off" class="w-full"
                    [ngClass]="{'p-invalid': clienteForm.submitted && clienteForm.controls['giro'].invalid}" />
                <label for="giro">Giro <span class="text-red-500">*</span></label>
            </p-floatlabel>

            <p-floatlabel variant="on">
                <p-select id="clasificacion" name="clasificacion" [(ngModel)]="newCliente.clasificacion"
                    [options]="tipoClientes" optionLabel="name" optionValue="name" class="w-full"
                    [ngClass]="{'p-invalid': clienteForm.submitted && !newCliente.clasificacion}"></p-select>
                <label for="clasificacion">Tipo cliente <span class="text-red-500">*</span></label>
                <input type="text" name="clasificacion_hidden" [(ngModel)]="newCliente.clasificacion" required hidden />
            </p-floatlabel>

            <p-floatlabel variant="on">
                <textarea pInputTextarea id="referencia" name="referencia" [(ngModel)]="newCliente.referencia" rows="3"
                    cols="30" class="w-full resize-none h-[7rem]"></textarea>
                <label for="referencia">Referencia</label>
            </p-floatlabel>
        </div>
    </div>

    <div class="float-end mt-4">
        <button pButton type="submit">
            <i class="pi pi-plus" pButtonIcon></i>
            <span pButtonLabel>Registrar</span>
        </button>
    </div>
</form>