<form #clienteForm="ngForm" (ngSubmit)="addClient(clienteForm)" [class.submitted]="clienteForm.submitted">
    <div class="flex flex-wrap gap-6">
        <!-- Columna 1 -->
        <div class="flex-1 flex flex-col gap-3 min-w-[300px]">
            <p-floatlabel variant="on">
                <input pInputText id="name" name="name" [(ngModel)]="newCliente.name" required maxlength="300"
                    autocomplete="off" class="w-full"
                    [ngClass]="{'p-invalid': clienteForm.submitted && clienteForm.controls['name'].invalid}" />
                <label for="name">Nombre Fiscal <span class="text-red-500">*</span></label>
            </p-floatlabel>

            <p-floatlabel variant="on">
                <input pInputText id="taxId" name="taxId" [(ngModel)]="newCliente.taxId" maxlength="300"
                    autocomplete="off" class="w-full" />
                <label for="taxId">RFC</label>
            </p-floatlabel>

            <p-floatlabel variant="on">
                <input pInputText id="street" name="street" [(ngModel)]="newCliente.street" required maxlength="300"
                    autocomplete="off" class="w-full"
                    [ngClass]="{'p-invalid': clienteForm.submitted && clienteForm.controls['street'].invalid}" />
                <label for="street">Calle <span class="text-red-500">*</span></label>
            </p-floatlabel>

            <p-floatlabel variant="on">
                <input pInputText id="exteriorNumber" name="exteriorNumber" [(ngModel)]="newCliente.exteriorNumber" required
                    maxlength="300" autocomplete="off" class="w-full"
                    [ngClass]="{'p-invalid': clienteForm.submitted && clienteForm.controls['exteriorNumber'].invalid}" />
                <label for="exteriorNumber">N° Exterior <span class="text-red-500">*</span></label>
            </p-floatlabel>

            <p-floatlabel variant="on">
                <input pInputText id="neighborhood" name="neighborhood" [(ngModel)]="newCliente.neighborhood" required maxlength="300"
                    autocomplete="off" class="w-full"
                    [ngClass]="{'p-invalid': clienteForm.submitted && clienteForm.controls['neighborhood'].invalid}" />
                <label for="neighborhood">Colonia <span class="text-red-500">*</span></label>
            </p-floatlabel>

            <p-floatlabel variant="on">
                <p-select id="state" name="state" [(ngModel)]="newCliente.state" [options]="estados"
                    optionLabel="name" optionValue="name" class="w-full"
                    [ngClass]="{'p-invalid': clienteForm.submitted && !newCliente.state}"></p-select>
                <label for="state">Estado <span class="text-red-500">*</span></label>
                <input type="text" name="state_hidden" [(ngModel)]="newCliente.state" required hidden />
            </p-floatlabel>

            <p-floatlabel variant="on">
                <p-select id="city" name="city" [(ngModel)]="newCliente.city" [options]="ciudades"
                    optionLabel="name" optionValue="name" class="w-full"
                    [ngClass]="{'p-invalid': clienteForm.submitted && !newCliente.city}"></p-select>
                <label for="city">Ciudad <span class="text-red-500">*</span></label>
                <input type="text" name="city_hidden" [(ngModel)]="newCliente.city" required hidden />
            </p-floatlabel>

            <p-floatlabel variant="on">
                <input pInputText id="municipality" name="municipality" [(ngModel)]="newCliente.municipality" maxlength="300"
                    autocomplete="off" class="w-full" />
                <label for="municipality">Municipio</label>
            </p-floatlabel>

            <div class="flex items-center h-[2rem] gap-2 pl-1">
                <p-checkbox inputId="hasPhoto" name="hasPhoto" binary="true" [(ngModel)]="newCliente.hasPhoto"
                    [trueValue]="1" [falseValue]="0"></p-checkbox>
                <label for="hasPhoto">Foto forzosa</label>
            </div>

            <div class="flex items-center h-[2rem] gap-2 pl-1">
                <p-checkbox inputId="isCommercial" name="isCommercial" binary="true" [(ngModel)]="newCliente.isCommercial"
                    [trueValue]="1" [falseValue]="0"></p-checkbox>
                <label for="isCommercial">Cliente Comercial</label>
            </div>
        </div>

        <!-- Columna 2 -->
        <div class="flex-1 flex flex-col gap-3 min-w-[300px]">
            <p-floatlabel variant="on">
                <p-inputnumber class="w-full" id="phone" name="phone" [(ngModel)]="newCliente.phone"
                    [useGrouping]="false" required [maxlength]="10" autocomplete="off"
                    [ngClass]="{'p-invalid': clienteForm.submitted && clienteForm.controls['phone'].invalid}" />
                <label for="phone">N° Teléfono Celular <span class="text-red-500">*</span></label>
            </p-floatlabel>

            <p-floatlabel variant="on">
                <input pInputText id="email" name="email" [(ngModel)]="newCliente.email" required maxlength="300"
                    autocomplete="off" class="w-full"
                    [ngClass]="{'p-invalid': clienteForm.submitted && clienteForm.controls['email'].invalid}" />
                <label for="email">Correo Electrónico <span class="text-red-500">*</span></label>
            </p-floatlabel>

            <p-floatlabel variant="on">
                <p-inputnumber id="consignmentPriceICC" name="consignmentPriceICC" [(ngModel)]="newCliente.consignmentPriceICC"
                    required autocomplete="off" class="w-full" [maxFractionDigits]="5"
                    [ngClass]="{'p-invalid': clienteForm.submitted && clienteForm.controls['consignmentPriceICC'].invalid}" />
                <label for="consignmentPriceICC">Precio consigna <span class="text-red-500">*</span></label>
            </p-floatlabel>

            <p-floatlabel variant="on">
                <input pInputText id="latitude" name="latitude" [(ngModel)]="newCliente.latitude" autocomplete="off"
                    class="w-full" />
                <label for="latitude">Latitud</label>
            </p-floatlabel>

            <p-floatlabel variant="on">
                <input pInputText id="longitude" name="longitude" [(ngModel)]="newCliente.longitude" autocomplete="off"
                    class="w-full" />
                <label for="longitude">Longitud</label>
            </p-floatlabel>

            <p-floatlabel variant="on">
                <p-select id="zoneId" name="zoneId" [(ngModel)]="newCliente.zoneId" [options]="zonas" optionLabel="name"
                    optionValue="name" class="w-full"></p-select>
                <label for="zoneId">Zona</label>
            </p-floatlabel>

            <p-floatlabel variant="on">
                <input pInputText id="businessType" name="businessType" [(ngModel)]="newCliente.businessType" required maxlength="300"
                    autocomplete="off" class="w-full"
                    [ngClass]="{'p-invalid': clienteForm.submitted && clienteForm.controls['businessType'].invalid}" />
                <label for="businessType">Giro <span class="text-red-500">*</span></label>
            </p-floatlabel>

            <p-floatlabel variant="on">
                <p-select id="subBranchTypeId" name="subBranchTypeId" [(ngModel)]="newCliente.subBranchTypeId"
                    [options]="tipoClientes" optionLabel="subBranchTypeId" optionValue="subBranchTypeId" class="w-full"
                    [ngClass]="{'p-invalid': clienteForm.submitted && !newCliente.subBranchTypeId}"></p-select>
                <label for="subBranchTypeId">Tipo cliente <span class="text-red-500">*</span></label>
                <input type="text" name="subBranchTypeId_hidden" [(ngModel)]="newCliente.subBranchTypeId" required hidden />
            </p-floatlabel>

            <p-floatlabel variant="on">
                <textarea pInputTextarea id="reference" name="reference" [(ngModel)]="newCliente.reference" rows="3"
                    cols="30" class="w-full resize-none h-[7rem]"></textarea>
                <label for="reference">Referencia</label>
            </p-floatlabel>
        </div>
    </div>

    <div class="float-end mt-4">
        <button pButton type="submit">
            <i class="pi pi-plus" pButtonIcon></i>
            <span pButtonLabel>Registrar</span>
        </button>
    </div>
</form>
