<p-toast />
<h1 class="flex text-3xl gap-3 mb-2">
  <span style="font-size: 2rem"></span>
  Gestión de Clientes
</h1>

<p-card>
  @if (!showAddForm) {
  <app-tabla-clientes [clientes]="clientes" (addRequested)="onAddRequested()">
  </app-tabla-clientes>
  } @else {
  <div class="mb-3">
    <p-button variant="text" label="Volver" icon="pi pi-arrow-left" (onClick)="showAddForm = false">
    </p-button>
  </div>

  <app-agregar-cliente-form (register)="onRegister($event)">
  </app-agregar-cliente-form>
  }
</p-card>